body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('img/5_background/layers/main_background/desert-orange.png');
  background-position: center;;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: "zabras", Arial, Helvetica, sans-serif;
  }

@font-face {
  font-family: "zabras";
  src: url("./fonts/zabars.ttf") format("truetype");
}

h1 {    
  font-size: 64px;
  letter-spacing: 3px;
}

#startDisplay {
  filter: drop-shadow(2px 4px 9px black);
  height: 480px;
  width: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 32px;
}

.containerCanvas {
  justify-content: center;
  align-items: center;
  max-width: 720px;
  max-height: 480px;
}

.canvas {
    width: 100%;
  height: 100%;
  border-radius: 32px;

}

.win_end {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  height: 480px;
  object-fit: contain;  
border-radius: 32px;
}

.play_end_sequence {
  width: 100%; 
  height: 100%; 
  border-radius: 32px;

}

.start_win_img{
  width: 100%;
  height: 100%;
}

.start_display_img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 32px;
}

.start_win_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



#playButton {
  z-index: 10;
  cursor: pointer;
  text-shadow: 3px 3px 2px #333;
}

a {
  color: black;
  z-index: 10;
  cursor: pointer;
  text-shadow: 3px 3px 2px #333;
}

.button_center {
  position: absolute;
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, -50%);
}

p, span {
  font-size: 24px;
}

.imgplay {
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.start_win_img {
  width: 100%;
  height: 100%;  
}

.hidden {
  display: none ;
}

.hidden_imp {
  display: none !important;
}

.invisible {
  visibility: hidden;
  position: absolute;
  top: -9999px; 
}



.button:hover {
  cursor: pointer;
  text-shadow: 3px 3px 2px #333 
}

#gameButtonsDescription {  
  display: flex;
  justify-content: center;
  gap: 16px;
}

.help_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 680px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.d_j_center {
  display: flex;
  justify-content: center;
}

.button_div {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}


.play_end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 480px;
  
}

#gameOver {
  filter: brightness(1.5);
}

.game_over_text {
  width: 720px;
  height: 480px;
  background-color: rgba(255, 255, 255, 0.5);
}


.d_flex {
  display: flex;
  gap: 30px;
} 

footer {
  display: flex;
  gap: 30px;
}

/* @media (min-width: 900px) {
  #gameButtonsMobile {
    display: none;
  }
} */

/* @media (max-width: 900px) {
#gameButtonsDescription {
    display: none;
  }
} */

@media (min-width: 1025px) {
  #gameButtonsMobile {
    display: none;
  }
  #gameButtonsDescription {
    display: flex;
  }
  /* #gameName {
    display: flex;
  } */
}

@media (max-width: 1024px) and (orientation: landscape) {
  #gameButtonsDescription {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .containerCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 100vw;
    height: auto; 
    position: relative;
}
  canvas {
    /* height: 100vh; */
    width: 100%;
    border-radius: 0%;
    height: auto;
  } 
  #overlay {
    width: 90%;
    height: 98%;
  }

  .start_display {
    width: 100%;
    height: 100vh;
  }

} 

@media only screen and (max-width: 500px) {
  canvas {
    height: 100vh;
  } 
}

@media only screen and (max-width: 480px) {
  canvas {
    height: 100vh;
  }
  .gameName {
    display: none;
  }
  /* #gameButtonsDescription {
    display: none;
  } */
  footer {
    display: flex;
    gap: 80px;
  }
}

@media (orientation: portrait) {
  #overlay {
    display: none;
  }
  #startDisplay {
    display: none;
  }
  #orientationMessage {
    display: flex;
  }
  #gameName {
    display: none;
  }
  #destopFooter {
    display: none;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  #gameName {
    display: none;
  }
  #destopFooter {
    display: none;
  }
  #canvas {
    height: 100vh;
  }
  #overlay {
    height: 100vh;
  }
  #startDisplay {
    height: 100vh;
  }

} 
@media only screen and (max-width: 480px) {
    canvas {
      height: 100vh;
    }
    .gameName {
      display: none;
    }
    /* #gameButtonsDescription {
      display: none;
    } */

  }

  @media only screen and (max-height: 375px) {
    canvas {
      height: 100vh;
    }
    .gameName {
      display: none;
    }
    /* #gameButtonsDescription {  
      display: none;
    } */

  }




