body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('img/5_background/layers/main_background/desert-orange.png');
  background-position: center;;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "zabras", Arial, Helvetica, sans-serif;
  }

  @font-face {
    font-family: "zabras";
    src: url("./fonts/zabars.ttf") format("truetype");
}

h1 {    
  font-size: 64px;
  letter-spacing: 3px;
}

.start_end {
  width: 720px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start_win_img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.start_display_img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.start_win_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#youWin, #gameOver {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playButton {

  z-index: 10;
  cursor: pointer;
  text-shadow: 3px 3px 2px #333;
}

.button_center {
  position: absolute;
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, -50%);
}

p {
  font-size: 24px;
}

.img {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.start_win_img {
  /* position: absolute; */
  /* display: flex; */
  width: 100%;
height: 100%;
  
}

.hidden {
display: none;
}

.invisible {
  visibility: hidden;
  position: absolute;
  top: -9999px; 
}

.containerCanvas {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
/* z-index: 1; */
}

#playButton:hover {
  cursor: pointer;
  text-shadow: 3px 3px 2px #333 
}

#gameKeys {
display: flex;
justify-content: center;
gap: 16px;
}

.help_button {
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
}



#overlay {
  position: absolute;
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, -50%);
  width: 680px;
  height: 460px;
  }

.d_j_center {
  display: flex;
  justify-content: center;
}
/* 
.button_div {
  position: absolute;  
  bottom: 10px;        
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  
  } */

.button_div {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Füllt die gesamte Breite */
    max-width: 720px; /* Optional: Maximalbreite */
}

  .game_over_text {
    width: 720px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .d_flex {
    display: flex;
    gap: 30px;
    } 



@media (min-width: 900px) {
  #buttonDiv {
    display: none;
  }
}

@media (max-width: 900px) {
  #gameKeys {
    display: none;
  }
}


@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
    height: 100vh;
  } 
  #overlay {
    width: 90%;
    height: 98%;
  }
  #gameKeys {
    display: none;
  }
  .start_display {
    width: 100%;
    height: 100vh;
  }

} 

@media only screen and (max-width: 480px) {
  canvas {
    height: 100vh;
  }
  .gameName {
    display: none;
  }
  #gameKeys {
    display: none;
  }
  /* .button_div {
    display: block;
  } */
}

@media (orientation: portrait) {
  #overlay {
display: none;
  }
  #startDisplay {
    display: none;
  }
  #orientationMessage {
    display: flex;
  }
  #gameName {
    display: none;
  }
  /* #containerCanvas {

  } */
}

@media (orientation: landscape) {
  #gameName {
    display: none;
  }


} 
@media only screen and (max-width: 480px) {
    canvas {
      height: 100vh;
    }
    .gameName {
      display: none;
    }
    #gameKeys {
      display: none;
    }

  }
